@{
    ViewData["Title"] = "Wind Roses";
}
<h1>@ViewData["Title"]</h1>

<h1>"Graphs"</h1>

<p>Wind distribution graphs</p>

<div id="Rose">  </div>
<div id="Rose2">  </div>









